/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 4, 2024, 12:20:52 AM
    Author     : admin
*/
body {
    background: url("../images/cutte.png") no-repeat center center fixed; 
    background-size: cover;
}

.form-min-width {
    min-width: 300px;
}
